---
layout: default
---
<article class="post h-entry" itemscope item="http://schema.org/BlogPosting">
<header class="post-header">
    {%- if page.image -%}
      <a href="{{ page.url | replace:'index.html','' | absolute_url }}"><img src="{{- page.image | relative_url -}}" alt="toko bunga pontianak" loading="lazy" class="featured-image-post"></a>
    {%- else -%}
      {%- assign postImage = "/image/tokobungapontianak.jpg" -%}
      <a href="{{ page.url | replace:'index.html','' | absolute_url }}"><img src="{{- postImage | relative_url -}}" alt="toko bunga pontianak" loading="lazy" class="featured-image-post"></a>
    {%- endif -%}
    <h1 class="post-title p-name" item="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" item="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.last_modified_at -%}
        ~ 
        {%- assign mdate = page.last_modified_at | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" item="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span item="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" item="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}
    </p>
   {% include toc.html html=content %}
  </header>

  <div class="post-content e-content" item="articleBody">
    {{ content }}
  </div>

{% if page.galleries %}{% include image-gallery-index.html %}{% endif %}

{% if page.tags.size > 0 %}
      <div class="post-meta">
        <i class="fas fa-tags"></i>
        <ul class="post-taxonomies post-tags">
          {% assign tags = page.tags | sort %}
          {% for tag in tags %}
            <li class="post-tag">
              {% assign slugified_tag = tag | slugify %}
              <a href="{{ '/tags/#:tag' | replace: ':tag', slugified_tag | relative_url }}">{{ slugified_tag }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

  {% if site.disqus.shortname %}
    {% include disqus.html %}
  {% endif %}
</article>
